h1{
    font-size: 18px;
    margin-bottom: 15px;
}

#containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
   
    margin-top: 35px;
    margin-left: auto; /* Centrer le conteneur horizontalement */
    margin-right: auto;

    padding: 50px;

    border-radius: 10px;
    width: 400px; /* Remplacez par la largeur désirée */


    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

#forgotPassword {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    
    margin-top: 15px;
    margin-bottom: 25px;
}

#buttonConnetion {
    background-color: green;
    padding: 10px;
    width: 100%; /* Assurez-vous que cela n'oblige pas le conteneur à être plus large que nécessaire */
    border-radius: 10px;

    font-size: 13px;
    color: white;
}

#buttonConnetion:hover
{
background-color: #005300;
}

#register
{
    display: flex;
    justify-content: center;


    font-size: 10px;

    margin-top: 5px;
}

#imageLogin
{
    display: flex;
    justify-content: space-between;
}